<!DOCTYPE html>
<html lang="en">
	<!-- HEAD -->
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Eggplants</title>   
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Raleway" rel="stylesheet">
		<link rel="stylesheet" href="css/flexslider.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="icon" href="/images/eggplant.ico">
	</head>
	<!-- /HEAD -->

	<body>

		<!-- NAV -->
		<% include partials/nav.ejs %>

        <div class="cover">
            <div class="container">
				<div class="col-md-12">
                    <br/></br>
					<h2 class="cent header-text"> EGGPLANTS 🍆</h2>
                    <h3 class="cent"><i class="fa fa-music"></i> Beatmap Listing</h3>
                    <h4 class="cent">Here, you can search for and find beatmaps to download.</h4>
                    <h4 class="cent">You don't have to be logged into osu! or deal with slow download speeds. So give it a try!</h4>
				</div>
            </div>
        </div>

        <section class="listing">
			<div class="container">
				<br/>
					<div class="col-md-12">
					<h2 class="cent"><i class="fa fa-search"></i> Search For Beatmaps</h2>
					<h4 class="cent">It's simple. Just enter in a search query, fill in the options, and go!</h4>
					<% if (typeof error != 'undefined' && typeof beatmaps == 'undefined') {%>
						<br/>
						<div class="alert alert-danger">
							<center><strong>ERROR: </strong> <%= error %></center>
						</div>	
					<%} else if(typeof beatmaps != 'undefined') { %> 
						<br/>
						<div class="alert alert-success">
							<center><strong>SUCCESS: </strong> There were: <strong><%= beatmaps.length %><%if (beatmaps.length >= 100) {%>+<%}%></strong> beatmaps found!</center>
						</div>							
					<%}%>
				
				</div>

				<form action="/osu" method="POST">
					<div class="row">
						<!-- SEARCH QUERY -->
						<div class="col-md-4">
							<label for="query" class="label-text">Search Query</label>
							<input type="text" class="form-control" name="query" placeholder="Enter an artist, song title, or even mapper!" required>
						</div>
						<!-- /SEARCH QUERY -->

						<!-- RANKED STATUS --> 
						<div class="form-group">
							<div class="col-md-4 col-sm-12">
								<label for="status" class="label-text">Ranked Status</label>
								<select class="form-control" name="status">
									<option value="Ranked">Ranked</option>
									<option value="Qualified">Qualified</option>
									<option value="Loved">Loved</option>
									<option value="All Maps">All Maps</option>
								</select>							
							</div>
						</div>
						<!-- /RANKED STATUS --> 	

						<!-- GAME MODE --> 
						<div class="form-group">
							<div class="col-md-4 col-sm-12">
								<label for="mode" class="label-text">Game Mode</label>
								<select class="form-control" name="mode">
									<option value="osu!">osu!</option>
									<option value="Taiko">Taiko</option>
									<option value="CTB">CTB</option>
									<option value="Mania">Mania</option>
								</select>							
							</div>
						</div>	
						<!-- /GAME MODE --> 

					</div>

					<br/>
					<!-- SUBMIT -->
					<center>
						<button class="btn btn-success">Search!</button>
						<h6>Made w/ 🍆</h6>
					</center>
					<!-- /SUBMIT -->							
				</form>
					

				<% if (typeof beatmaps != 'undefined' && beatmaps.length > 0) { %>
					<!--Download All Button-->					
				<% } %>	
						<br/>


				<% if (typeof starterMaps != 'undefined' && starterMaps.length > 0 && typeof beatmaps == 'undefined') {%>

						<% starterMaps.forEach(function(starterMap){ %>

							<div class="col-md-4">
								<div class="panel">

									<% if (starterMap.Title.length > 15 || starterMap.Artist.length > 15) { %>
										<div class="panel-heading" style="background-color:#553bcc;color:#fff;"><i class="fa fa-music"></i> <%=starterMap.Artist.substring(0,15)+'...';%> - <%=starterMap.Title.substring(0,15)+'...';%> </div>

									<%} else { %>
										<div class="panel-heading" style="background-color:#553bcc;color:#fff;"><i class="fa fa-music"></i> <%=starterMap.Artist%> - <%=starterMap.Title%> </div>										
									<% } %>

									<div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -5px 3px #553bcc inset;">
									
									<div class="boximg">
									<a href="https://storage.ripple.moe/<%=starterMap.SetID%>.osz" target="_blank"><img src="https://assets.ppy.sh//beatmaps/<%=starterMap.SetID%>/covers/cover.jpg?1456484081" class="img-responsive"></a>
									<span class="likebut glyphicon glyphicon-tag"></span>
									</div>							
							<br>
									<strong><p class="pull-left">🍆 <span class="title-color">By: <a class="title-color" href="https://osu.ppy.sh/u/<%=starterMap.Creator%>" target="_blank"><%=starterMap.Creator%></a></span></strong> <br/> <a class="view-on-osu" href="https://osu.ppy.sh/s/<%=starterMap.SetID%>" target="_blank">view on osu!</a><br><br/>
									<span class="badge pull-left" style="background-color: #f972e7; margin-right: 10px;"><i class="fa fa-heart"></i> <%=starterMap.Favourites%></span>

									<%if (starterMap.RankedStatus  == 1) {%>
											<span class="badge pull-left" style="background-color: #2d9906; margin-right: 10px;"><i class="fa fa-thumbs-up"></i> Ranked</span>
									<%} else if (starterMap.RankedStatus  == 3) {%>
											<span class="badge pull-left" style="background-color: #c1a505; margin-right: 10px;"><i class="fa fa-trophy"></i> Qualified</span>
									<%} else if (starterMap.RankedStatus  == 4) {%>
											<span class="badge pull-left" style="background-color: #8917c6; margin-right: 10px;"><i class="fa fa-heartbeat"></i> Loved</span>
									<%} else {%>
											<span class="badge pull-left" style="background-color: #0f849b; margin-right: 10px;"><i class="fa fa-thumbs-down"></i> Unranked</span>
									<%}%>
				



									<% if (starterMap.HasVideo == true) { %>
										<span class="badge pull-left" style="background-color: #188207; margin-right: 10px;"><i class="fa fa-video-camera"></i> Video</span>
									<%} else {%>
										<span class="badge pull-left" style="background-color: #d69508; margin-right: 10px;"><i class="fa fa-video-camera"></i> No Video</span>
									<%}%>

									</p>
								
									<a href="https://storage.ripple.moe/<%=starterMap.SetID%>.osz" target="_blank"><span class="badge pull-right" style="background-color:teal"><i class="fa fa-download"></i> Download</span></a>
								</div>
							</div>
						</div>
						


						<% }); %>				
				<%}%>


				<% if (typeof beatmaps != 'undefined' && beatmaps.length > 0) { %>


						<% beatmaps.forEach(function(beatmap){ %>

							<div class="col-md-4">
								<div class="panel">

									<% if (beatmap.Title.length > 15 || beatmap.Artist.length > 15) { %>
										<div class="panel-heading" style="background-color:#553bcc;color:#fff;"><i class="fa fa-music"></i> <%=beatmap.Artist.substring(0,15)+'...';%> - <%=beatmap.Title.substring(0,15)+'...';%> </div>

									<%} else { %>
										<div class="panel-heading" style="background-color:#553bcc;color:#fff;"><i class="fa fa-music"></i> <%=beatmap.Artist%> - <%=beatmap.Title%> </div>										
									<% } %>

									<div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -5px 3px #553bcc inset;">
									
									<div class="boximg">
									<a href="https://storage.ripple.moe/<%=beatmap.SetID%>.osz" target="_blank"><img src="https://assets.ppy.sh//beatmaps/<%=beatmap.SetID%>/covers/cover.jpg?1456484081" class="img-responsive"></a>
									<span class="likebut glyphicon glyphicon-tag"></span>
									</div>							
							<br>
									<strong><p class="pull-left">🍆 <span class="title-color">By: <a class="title-color" href="https://osu.ppy.sh/u/<%=beatmap.Creator%>" target="_blank"><%=beatmap.Creator%></a></span></strong> <br/> <a class="view-on-osu" href="https://osu.ppy.sh/s/<%=beatmap.SetID%>" target="_blank">view on osu!</a><br><br/>
									<span class="badge pull-left" style="background-color: #f972e7; margin-right: 10px;"><i class="fa fa-heart"></i> <%=beatmap.Favourites%></span>

									<%if (beatmap.RankedStatus  == 1) {%>
											<span class="badge pull-left" style="background-color: #2d9906; margin-right: 10px;"><i class="fa fa-thumbs-up"></i> Ranked</span>
									<%} else if (beatmap.RankedStatus  == 3) {%>
											<span class="badge pull-left" style="background-color: #c1a505; margin-right: 10px;"><i class="fa fa-trophy"></i> Qualified</span>
									<%} else if (beatmap.RankedStatus  == 4) {%>
											<span class="badge pull-left" style="background-color: #8917c6; margin-right: 10px;"><i class="fa fa-heartbeat"></i> Loved</span>
									<%} else {%>
											<span class="badge pull-left" style="background-color: #0f849b; margin-right: 10px;"><i class="fa fa-thumbs-down"></i> Unranked</span>
									<%}%>
				



									<% if (beatmap.HasVideo == true) { %>
										<span class="badge pull-left" style="background-color: #188207; margin-right: 10px;"><i class="fa fa-video-camera"></i> Video</span>
									<%} else {%>
										<span class="badge pull-left" style="background-color: #d69508; margin-right: 10px;"><i class="fa fa-video-camera"></i> No Video</span>
									<%}%>

									</p>
								
									<a href="https://storage.ripple.moe/<%=beatmap.SetID%>.osz" target="_blank"><span class="badge pull-right" style="background-color:teal"><i class="fa fa-download"></i> Download</span></a>
								</div>
							</div>
						</div>
						


						<% }); %>

				<% } %>

							

			
		
        </section>

		<!-- jQuery & Exta JavaScript -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.inview.js"></script>
		<script src="js/script.js"></script>	
	</body>
</html>